body{
    background-image: url(./KAL.jpg);
    width: 100%;
}

fieldset { 
    position: relative; 
    height: 90%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('lam.webp');
    background-size: cover;
}
.re{

}